/* Reset */
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img {
margin: 0;
padding: 0;
border: 0;
}

/* Voicepedia theme by mgdd */
body {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
color: #555;	
background: #f0f0f0 url(../img/bg.jpg) repeat-x;
}

p  { margin: 10px 0; }
h1 { font-size: 24px; margin: 20px 0; color: #239ccc; }
h2 { font-size: 20px; margin: 10px 0; color: #239ccc; }
h3 { font-size: 16px; margin: 10px 0; color: #239ccc; }

a, a:visited  { color: #239ccc; text-decoration: none; }
a:hover { color: #35c9ff; text-decoration: none; }

#wrapper {
margin: auto;
width: 960px;
}

#header {
background: url(../img/top.jpg) no-repeat;
height: 370px;
}

#form {
	background: url(../img/search.png) no-repeat;
	width: 461px;
	height: 72px;
	padding: 10px 50px;
	margin: 0 auto 100px;
}

#q {
	padding: 0;
	width: 307px;
	height: 48px;
	font: 24px/48px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background: none;
	border: none;
}

#s {
	padding: 0;
	width: 154px;
	height: 48px;
	background: none;
	border: none;
	cursor: pointer;
}

#body {
	margin-bottom: 70px;	
}

#results {
	background: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
}

#footer {
	margin: 20px 0;
	border-top: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
	text-align: right;
	font-size: 10px;
	color: #aaa;
}


/* jQuery Autocomplete by bassistance.de */
.ac_results {
	padding: 0px;
	border: 1px solid #aaa;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 18px;
	line-height: 24px;
	overflow: hidden;
}

.ac_loading {
	background: transparent url(../img/indicator.gif) 280px 18px no-repeat !important;
}

.ac_over {
	background-color: Highlight;
	color: HighlightText;
}
